.main-menu{
    width: 20%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    box-sizing: border-box; /* 确保内边距包含在宽度内 */
    .menu-item{
        margin-bottom: 12px;
    }
}