.task-container {
    // background-color: rgb(245, 242, 242);
    display: flex;
    flex-direction: column;
    flex: 1; //自适应剩余空间
    padding: 4px 20px;
    height: 100%;
}

.task-list {
    flex: 1; // 占据剩余空间
    // padding-top: 15px;
    box-sizing: border-box;
    overflow: auto;
}

