.task-calendar {
    padding-left: 20px;
    padding-right: 10px;
    height: 80%;
    overflow: auto;
}

.allFinishCount {
    box-shadow: 5px 5px 8px rgb(172, 161, 146);
    border-radius: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        box-shadow: 0 0 10px rgb(77, 71, 65);
    }

    .card-title {
        color: chocolate;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .my-statistic {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ant-statistic-title {
            font-size: 16px;
            color: #363535;
            padding: 0;
            margin: 0;
        }

        .ant-statistic-content {
            font-size: 50px;
            font-weight: bold;
            color: hotpink;
            padding: 0;
            margin: 0;
        }
    }
}

.todayFinishCount{
    box-shadow: 5px 5px 8px rgb(172, 161, 146);
    border-radius: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        box-shadow: 0 0 10px rgb(77, 71, 65);
    }

    .card-title {
        color: chocolate;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .my-statistic {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ant-statistic-title {
            font-size: 16px;
            color: #363535;
            padding: 0;
            margin: 0;
        }

        .ant-statistic-content {
            font-size: 50px;
            font-weight: bold;
            color: #1890ff;
            padding: 0;
            margin: 0;
        }
    }
}

.todayRemainCount{
    box-shadow: 5px 5px 8px rgb(172, 161, 146);
    border-radius: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        box-shadow: 0 0 10px rgb(77, 71, 65);
    }

    .card-title {
        color: papayawhip;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .my-statistic {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ant-statistic-title {
            font-size: 16px;
            color: #363535;
            padding: 0;
            margin: 0;
        }

        .ant-statistic-content {
            font-size: 50px;
            font-weight: bold;
            color: lemonchiffon;
            padding: 0;
            margin: 0;
        }
    }
}

.pie-charts {
    padding: 10px;
    // background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    border-radius: 5% 5% 0 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 8px rgb(172, 161, 146);

    &:hover {
        box-shadow: 0 0 10px rgb(77, 71, 65);
    }

    &_item {
        flex: 1;
        padding: 0;
    }

    &_text {
        color: peru;
        font-weight: 700;
        margin-top: 5px;
        font-size: 20px;
    }
}