.task-tool-bar {
    width: 100%;
    // background-color: rgb(220, 226, 253);
    height: 48px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    // box-shadow: 5px 5px 10px #cfcfcf;
    display: flex;
    align-items: center;

    &_left {
        display: flex;
        height: auto;
        margin-left: 30px;
    }

    &_right {
        width: auto;
        display: flex;
        margin-right: 35px;
        margin-left: auto;
        align-items: center;
        justify-content: center;
    }
}

.task-tool-bar_left>div {
    padding: 5px 8px;
    background-color: white;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        background-color: var(--active);
    }
}
.task-tool-bar_left>div.active{
    background-color: var(--color);
    color: white;
    font-weight: 600;
}

.task-search-input .ant-select-selector {
    font-size: 15px; // 字体大小
}

.task-search-input .ant-select-selection-placeholder {
    font-size: 15px; // placeholder 字体
}

.task-search-input .ant-select-selection-item {
    font-size: 15px; // 已选值字体
}


.task-sort {
    width: auto;
    display: flex;
    flex-direction: column;
    // margin-right: 35px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.sort-icon {
    display: flex;
    width: 30px;
    transition: 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.3); // 视觉放大
    }
}

.sort-div {
    z-index: 1000;
    width: 120px;
    position: absolute;
    top: 100%;
    left: auto;
    right: auto;
    // transform:translateX(-50%);
    background-color: white;
    padding: 5px 0 5px 8px;
    // padding: 5px 8px;
    border-radius: 5%;
    box-shadow: 5px 5px 15px 2px #b8b8b8;

    &_startTime {
        margin-bottom: 5px;
    }

    &_endTime {
        margin-top: 5px;
    }
}