.menu-item {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    // padding: 6px 10px;
    border: 0;
    background: white;
    box-shadow: 0 0 1px 1px rgb(200, 208, 245);
    ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;

    &-active {
        transition: 0.3s;
        margin-left: 20px;
        background-color: rgb(101, 129, 251);
        color: rgb(255, 255, 255);
        border-radius: 30px 0 0 30px;
        position: relative;

        //右下角三角形
        &::after {
            content: ''; /* 伪元素必须设置的空内容 */
            position: absolute; 
            bottom: -8px; /* 与容器顶部对齐 */
            right: 0px; /* 与容器左侧对齐 */
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 0; /*三角形大小*/
            border-color: rgb(101, 129, 251) transparent transparent transparent; /* 三角形颜色 */
        }

        .menu-item_name {
            font-weight: bolder;
        }
    }

    &:hover {
        box-shadow: 0 0 2px 2px rgb(210, 211, 211);
    }

    &_name {
        font-size: 18px;
        line-height: 30px;
    }

    &_count {
        position: absolute;
        border-radius: 50%;
        right: 10px;
        background-color: red;
        width: 25px;
        height: 25px;
        text-align: center;
        display: inline-block;
        line-height: 25px;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bolder;
    }
}

.my-icon {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: auto;
}