.menu-item {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border: 0;
    border-radius: var(--radius);
    background: white;
    cursor: pointer;
    transition: all 0.2s;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;

    &-active {
        transition: 0.3s;
        background-image: linear-gradient(to right, var(--active) 0%, var(--color) 100%);
        color: rgb(255, 255, 255);
        border-radius: var(--radius);
        position: relative;

        .menu-item_name {
            font-weight: bolder;
        }
        .my-icon{
            --color:white;
        }
    }

    .my-icon {
        display: flex;
        margin-right: 10px;
        width: 30px;
        height: auto;
    }

    &:hover {
        background-color: #eae9e9;
    }

    &_name {
        font-size: 18px;
        line-height: 30px;
    }

    &_count {
        position: absolute;
        border-radius: 50%;
        right: 10px;
        background-color: white;
        width: 25px;
        height: 25px;
        text-align: center;
        display: inline-block;
        line-height: 25px;
        color: var(--color);
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        font-weight: bolder;
    }
}